body{
    background-color: #288080;
    color: white;
    text-align: center;
}

h1{
    font-size: 50px;
}

h2{
    color: rgb(red, green, blue);
    font-size: 35px;
}
  font-size: 20px;
p{
    font-size: 20px;
}
  
    .texto-inglês {
  font-style: Italic;
}

#nome-usuário {
  font-weight: bold;
  font-size:  20px;
}